[Unit]

Description=Cloudflare DDNS timer

[Timer]

OnBootSec=1min
OnCalendar=*:*:1
Unit=cloudflare-ddns.service

[Install]

WantedBy=multi-user.target
